/*-------------------------
Body
---------------------------*/
body {
    margin: 0;
    background-image: url("img/background.png");
}
/*-------------------------
Title
---------------------------*/
.nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    background: black;
    color: white;
    font-size: 1.1em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-title {
    margin-bottom: 0;
}

.nav-subtitle {
    margin-top: 0;
}
/*-------------------------
Container
---------------------------*/
.container
 {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;  
    margin: 1em auto;
    width: 90%;
}
/*-------------------------
Darbuka Images
---------------------------*/
.darbuka-types-images {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.darbuka-types-image {
    margin-bottom: 0;
}

.darbuka-types-image:first-child {
    border-bottom: 1px dotted lightgray;
     
 }
/*-------------------------
Typography
---------------------------*/
.darbuka-type-title {
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(120, 120, 120);
    text-align: center;
    margin-top: 0;
}

.intro-title,
.rhythms-title,
.maksum-title,
.baladi-title,
.saidi-title,
.interactive-darbuka-title,
.complex-techniques-title,
.extra-title,
.darbuka-types-title,
.solo-darbuka-title {
    font-size: 1.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: rgb(110, 110, 110); 
    border-top:.1em solid rgb(110, 110, 110);
    border-bottom: .1em solid rgb(110, 110, 110);
    margin: 2.5em 0 0 0;
}

.presentation-subtitle,
.sound-types-subtitle,
.rhythms-subtitle,
.maksum-subtitle,
.baladi-subtitle,
.saidi-subtitle,
.complex-techniques-subtitle,
.extra-subtitle,
.darbuka-type-subtitle {
    font-size: 1.3em;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(120, 120, 120);
    margin-bottom: 0;
    text-decoration: underline;
}

.darbuka-data-paragraph,
.rhythms-paragraph {
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(26, 26, 26);
    margin-top: 0;
}

.rhythms-notes,
.maksum-paragraph,
.baladi-paragraph,
.saidi-paragraph {
    margin: 0;
    font-size: 1.3em;
    color: rgb(130, 130, 130);
    text-align: center;
}

.rhythms-notes-paragraph {
    margin:0;
}

/*-------------------------
Image, Video
---------------------------*/
video {
    width: 80%;
    border-radius: 5%;
}
/*-----------------------
Interactive Darbuka
-------------------------*/
.interactive-darbuka-img {
    width: 100%;
    height: 100%;
    margin-top: 2em;
}
/*-------------------------
Buttons
---------------------------*/
.roll-effect,
.trill-effect {
    font-size: 1.5em;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(120, 120, 120);
}

.trill-effect:hover,
.roll-effect:hover {
    cursor: pointer;
    text-decoration: underline;
}
/*--------------------------
Aside
----------------------------*/
aside {
    text-align: center;
}

.effects {
    display: flex;
    justify-content: space-evenly;
}

.links {
    font-size: 1.5em;
    border-top: .1em solid rgb(130, 130, 130);
    border-bottom: .1em solid rgb(130, 130, 130);
    margin-top: .5em;
}

.link {
    color: rgb(130, 130, 130);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.video-solo-darbuka {
    margin-top: 1.5em;
}
/*---------------------------------
Minor Details
-------------------------------------*/
.darbuka-data,
.darbuka-types,
.intro,
.rhythms,
.maksum,
.baladi,
.saidi,
.interactive-darbuka,
.complex-techniques,
.solo-darbuka,
.extra {
    padding-bottom: 1em;
    border-left: 1px dotted lightgray;
    border-right: 1px dotted lightgray;
    border-bottom: 1px dotted lightgray;
} 
/*-------------------------
Footer
---------------------------*/
.footer {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    background: black;
    color: white;
    padding: 4em 0;
}

.footer-link {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-link:hover {
    text-decoration: underline;
    cursor: pointer;
}
/*--------------------------------------
Tablet Size
----------------------------------------*/
@media (min-width:675px) and (max-width: 1000px) {

    .darbuka-type-title {
        font-size: 1.2em;
    }

    .intro-title,
    .rhythms-title,
    .maksum-title,
    .baladi-title,
    .saidi-title,
    .interactive-darbuka-title,
    .complex-techniques-title,
    .extra-title,
    .darbuka-types-title {
        font-size: 1.4em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 700;
        color: rgb(110, 110, 110); 
        border-top:.1em solid rgb(110, 110, 110);
        border-bottom: .1em solid rgb(110, 110, 110);
        margin: 2.5em 0 0 0;
    }

    .presentation-subtitle,
    .sound-types-subtitle,
    .rhythms-subtitle,
    .maksum-subtitle,
    .baladi-subtitle,
    .saidi-subtitle,
    .complex-techniques-subtitle,
    .extra-subtitle,
    .darbuka-type-subtitle {
        font-size: 1.1em;
    }

    .roll-effect,
    .trill-effect {
        font-size: 1.2em;
    }

    .darbuka-types-image:first-child {
        border-bottom: none;
     }
     
     .interactive-darbuka-title{
        margin-top: 0;
    }

}
/*--------------------------
Desktop Size
---------------------------*/
@media (min-width: 675px) {
    
    .container {
        text-align: left;
        flex-direction: row;
    }

    main {
        width: 75%;
        border: .1em dotted lightgray;
    }

    aside {
        width: 25%;
        border: 1px dotted lightgray;
        margin: 0 1em;
    }

    .videos {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        align-items: center;
    }

    /*-------------------------
    Typography
    ---------------------------*/
    .rhythms-notes,
    .maksum-paragraph,
    .baladi-paragraph,
    .saidi-paragraph {
        margin: 0;
        font-size: 2em;
        color: rgb(130, 130, 130);
        text-align: center;
    }

    /*----------------------------
    Images, Videos
    ------------------------------*/
    .darbuka-types-images {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
    .darbuka-types-image {
        transition: all 300ms;
    }
    .darbuka-types-image:hover {
        transform: scale(1.1);
    }

    video {
        width: 50%;
    }
    /*--------------------------------
    Minor Details
    ----------------------------------*/
    .darbuka-data,
    .darbuka-types,
    .intro,
    .rhythms,
    .maksum,
    .baladi,
    .saidi,
    .interactive-darbuka,
    .complex-techniques,
    .solo-darbuka,
    .extra {
        padding-bottom: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
    }

    .darbuka-types-image:first-child {
        border-bottom: none; 
     }

     .interactive-darbuka-title{
        margin-top: 0;
    }

}